<div class="container">
	<h2 class="text-center">Product Detail</h2>
	<table style="width: 50%;">
		<tr>
			<td>Name:<b></td>
			<td>{{product.name}}</td>
		</tr>
		<tr>
			<td>Model:<b></td>
			<td>{{product.model}}</td>
		</tr>
		<tr>
			<td>Year:<b></td>
			<td>{{product.year}}</td>
		</tr>
		<tr>
			<td>Price:<b></td>
			<td>{{product.price}}</td>
		</tr>
		<tr>
			<td>Producer:<b></td>
			<td>{{product.producer}}</td>
		</tr>
		<tr>
			<td>Available:<b></td>
			<td>{{product.available}}</td>
		</tr>
	</table>
	<button type="button" class="btn btn-info" ng-click="onBack()">Back store</button>
</div>